	<div id="search">
		<%= form_tag furnitures_path,method: :get , remote: true do %>
			<%= text_field_tag :item,params[:item] %>
			<%= submit_tag 'Search' %>
		<%end%>
	</div>
	<div id="searchitem">
	</div>
	<div id="alllist">
	<% @furniture.each do |f| %>
		<%#= f.image %>
		<h1><%= f.item %></h1>
		<h4><%= f.description %></h4>
		<%= f.category %>
		<%if current_user == f.user%>
        <p> <%=link_to "edit", edit_furniture_path(f)%></p>
        <% end %>
		<br>______________________________<br>
	<% end %>
	</div>
	<%= link_to 'Upload Your Furniture', new_furniture_path %>