<%= form_for @furniture do |f| %>

<div class="furniture_field">
<%= f.label :item %>
<%= f.text_field :item %>
</div>

<div class="furniture_field">
<%= f.label :description %>
<%= f.text_field :description %>
</div>

<div class="furniture_field">
<%= f.label :category %>
<%= f.text_field :category %>
</div>

<div class="furniture_field">
<%= f.file_field :image %>
<%= f.submit 'Upload' %>
</div>

<% end %>

